In [122]:
import pandas as pd
import numpy as np
import seaborn as sns
df = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [123]:
def drop_and_convert(df):
    df.drop(["Name", "Ticket", "Cabin", "PassengerId"], axis = 1, inplace = True)
    df.replace(to_replace = "male", value = 0, inplace = True)
    df.replace(to_replace = "female", value = 1, inplace = True)
    df.replace(to_replace = "S", value = 0, inplace = True)
    df.replace(to_replace = "Q", value = 1, inplace = True)
    df.replace(to_replace = "C", value = 2, inplace = True)
    df.fillna(df.mean(), inplace = True)
    return df

drop_test = drop_and_convert(test)
drop_df = drop_and_convert(df)

In [124]:
drop_df

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
0           0       3    0  22.000000      1      0   7.2500       0.0
1           1       1    1  38.000000      1      0  71.2833       2.0
2           1       3    1  26.000000      0      0   7.9250       0.0
3           1       1    1  35.000000      1      0  53.1000       0.0
4           0       3    0  35.000000      0      0   8.0500       0.0
..        ...     ...  ...        ...    ...    ...      ...       ...
886         0       2    0  27.000000      0      0  13.0000       0.0
887         1       1    1  19.000000      0      0  30.0000       0.0
888         0       3    1  29.699118      1      2  23.4500       0.0
889         1       1    0  26.000000      0      0  30.0000       2.0
890         0       3    0  32.000000      0      0   7.7500       1.0

[891 rows x 8 columns]

In [125]:
data = ["Pclass", "SibSp", "Parch", "Fare", "Age", "Sex", "Embarked"]
label = "Survived"

x = df[data]
y = df[label]
print(x)
print(y)

     Pclass  SibSp  Parch     Fare        Age  Sex  Embarked
0         3      1      0   7.2500  22.000000    0       0.0
1         1      1      0  71.2833  38.000000    1       2.0
2         3      0      0   7.9250  26.000000    1       0.0
3         1      1      0  53.1000  35.000000    1       0.0
4         3      0      0   8.0500  35.000000    0       0.0
..      ...    ...    ...      ...        ...  ...       ...
886       2      0      0  13.0000  27.000000    0       0.0
887       1      0      0  30.0000  19.000000    1       0.0
888       3      1      2  23.4500  29.699118    1       0.0
889       1      0      0  30.0000  26.000000    0       2.0
890       3      0      0   7.7500  32.000000    0       1.0

[891 rows x 7 columns]
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [126]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(verbose = 1)
model.fit(x, y)

RUNNING THE L-BFGS-B CODE

           * * *

Machine precision = 2.220D-16
 N =            8     M =           10

At X0         0 variables are exactly at the bounds

At iterate    0    f=  6.17594D+02    |proj g|=  3.46693D+03

At iterate   50    f=  4.02399D+02    |proj g|=  4.94139D+01

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
 This problem is unconstrained.
/home/aeneas/.local/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

LogisticRegression(verbose=1)

At iterate  100    f=  3.96751D+02    |proj g|=  1.34513D+00

           * * *

Tit   = total number of iterations
Tnf   = total number of function evaluations
Tnint = total number of segments explored during Cauchy searches
Skip  = number of BFGS updates skipped
Nact  = number of active bounds at final generalized Cauchy point
Projg = norm of the final projected gradient
F     = final function value

           * * *

   N    Tit     Tnf  Tnint  Skip  Nact     Projg        F
    8    100    118      1     0     0   1.345D+00   3.968D+02
  F =   396.75088944937534

STOP: TOTAL NO. of ITERATIONS REACHED LIMIT

In [127]:
drop_test

     Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0         3    0  34.50000      0      0    7.8292         1
1         3    1  47.00000      1      0    7.0000         0
2         2    0  62.00000      0      0    9.6875         1
3         3    0  27.00000      0      0    8.6625         0
4         3    1  22.00000      1      1   12.2875         0
..      ...  ...       ...    ...    ...       ...       ...
413       3    0  30.27259      0      0    8.0500         0
414       1    1  39.00000      0      0  108.9000         2
415       3    0  38.50000      0      0    7.2500         0
416       3    0  30.27259      0      0    8.0500         0
417       3    0  30.27259      1      1   22.3583         2

[418 rows x 7 columns]

In [128]:
data_test = ["Pclass", "SibSp", "Parch", "Fare", "Age", "Sex", "Embarked"]
data_pred = test[data_test]

In [129]:
output = model.predict(data_pred)

In [130]:
joined_data = list(zip(test_with_ID.PassengerId, output))

In [131]:
create_new_dataframe = pd.DataFrame(joined_data, columns = ["PassengerId", "Survived"])

In [132]:
create_new_dataframe.to_csv("ml_predictions_of_survival.csv", index=False)