In [230]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
df = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [219]:
#embarked_list = pd.get_dummies(df.Embarked, prefix='Embarked')
#df.join(embarked_list)

In [231]:
def drop_and_convert(df):
    embarked_list = pd.get_dummies(df.Embarked, prefix='Embarked')
    df = df.join(embarked_list)
    df.drop(["Name", "Ticket", "Cabin", "PassengerId", "Embarked"], axis = 1, inplace = True)
    df.replace(to_replace = "male", value = 0, inplace = True)
    df.replace(to_replace = "female", value = 1, inplace = True)
    #df.replace(to_replace = "S", value = 0, inplace = True)
    #df.replace(to_replace = "Q", value = 1, inplace = True)
    #df.replace(to_replace = "C", value = 2, inplace = True)
    df.fillna(df.mean(), inplace = True)
    return df

test = drop_and_convert(test)
df = drop_and_convert(df)

In [241]:
df.head(50)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,22.000000,1,0,7.2500,0,0,1
1,1,1,1,38.000000,1,0,71.2833,1,0,0
2,1,3,1,26.000000,0,0,7.9250,0,0,1
3,1,1,1,35.000000,1,0,53.1000,0,0,1
4,0,3,0,35.000000,0,0,8.0500,0,0,1
5,0,3,0,29.699118,0,0,8.4583,0,1,0
6,0,1,0,54.000000,0,0,51.8625,0,0,1
7,0,3,0,2.000000,3,1,21.0750,0,0,1
8,1,3,1,27.000000,0,2,11.1333,0,0,1
9,1,2,1,14.000000,1,0,30.0708,1,0,0
10,1,3,1,4.000000,1,1,16.7000,0,0,1
11,1,1,1,58.000000,0,0,26.5500,0,0,1
12,0,3,0,20.000000,0,0,8.0500,0,0,1
13,0,3,0,39.000000,1,5,31.2750,0,0,1
14,0,3,1,14.000000,0,0,7.8542,0,0,1
15,1,2,1,55.000000,0,0,16.0000,0,0,1
16,0,3,0,2.000000,4,1,29.1250,0,1,0
17,1,2,0,29.699118,0,0,13.0000,0,0,1
18,0,3,1,31.000000,1,0,18.0000,0,0,1
19,1,3,1,29.699118,0,0,7.2250,1,0,0
20,0,2,0,35.000000,0,0,26.0000,0,0,1
21,1,2,0,34.000000,0,0,13.0000,0,0,1
22,1,3,1,15.000000,0,0,8.0292,0,1,0
23,1,1,0,28.000000,0,0,35.5000,0,0,1
24,0,3,1,8.000000,3,1,21.0750,0,0,1
25,1,3,1,38.000000,1,5,31.3875,0,0,1
26,0,3,0,29.699118,0,0,7.2250,1,0,0
27,0,1,0,19.000000,3,2,263.0000,0,0,1
28,1,3,1,29.699118,0,0,7.8792,0,1,0
29,0,3,0,29.699118,0,0,7.8958,0,0,1
30,0,1,0,40.000000,0,0,27.7208,1,0,0
31,1,1,1,29.699118,1,0,146.5208,1,0,0
32,1,3,1,29.699118,0,0,7.7500,0,1,0
33,0,2,0,66.000000,0,0,10.5000,0,0,1
34,0,1,0,28.000000,1,0,82.1708,1,0,0
35,0,1,0,42.000000,1,0,52.0000,0,0,1
36,1,3,0,29.699118,0,0,7.2292,1,0,0
37,0,3,0,21.000000,0,0,8.0500,0,0,1
38,0,3,1,18.000000,2,0,18.0000,0,0,1
39,1,3,1,14.000000,1,0,11.2417,1,0,0
40,0,3,1,40.000000,1,0,9.4750,0,0,1
41,0,2,1,27.000000,1,0,21.0000,0,0,1
42,0,3,0,29.699118,0,0,7.8958,1,0,0
43,1,2,1,3.000000,1,2,41.5792,1,0,0
44,1,3,1,19.000000,0,0,7.8792,0,1,0
45,0,3,0,29.699118,0,0,8.0500,0,0,1
46,0,3,0,29.699118,1,0,15.5000,0,1,0
47,1,3,1,29.699118,0,0,7.7500,0,1,0
48,0,3,0,29.699118,2,0,21.6792,1,0,0
49,0,3,1,18.000000,1,0,17.8000,0,0,1

In [233]:
data = ["Pclass", "SibSp", "Parch", "Fare", "Age", "Sex", "Embarked_S", "Embarked_C", "Embarked_Q"]
label = "Survived"

x = df[data]
y = df[label]
print(x)
print(y)

     Pclass  SibSp  Parch     Fare        Age  Sex  Embarked_S  Embarked_C  \
0         3      1      0   7.2500  22.000000    0           1           0
1         1      1      0  71.2833  38.000000    1           0           1
2         3      0      0   7.9250  26.000000    1           1           0
3         1      1      0  53.1000  35.000000    1           1           0
4         3      0      0   8.0500  35.000000    0           1           0
..      ...    ...    ...      ...        ...  ...         ...         ...
886       2      0      0  13.0000  27.000000    0           1           0
887       1      0      0  30.0000  19.000000    1           1           0
888       3      1      2  23.4500  29.699118    1           1           0
889       1      0      0  30.0000  26.000000    0           0           1
890       3      0      0   7.7500  32.000000    0           0           0

     Embarked_Q
0             0
1             0
2             0
3             0
4             0
..          ...
886           0
887           0
888           0
889           0
890           1

[891 rows x 9 columns]
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [234]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(verbose = 1, max_iter = 1000)
model.fit(x, y)

RUNNING THE L-BFGS-B CODE

           * * *

Machine precision = 2.220D-16
 N =           10     M =           10

At X0         0 variables are exactly at the bounds

At iterate    0    f=  6.17594D+02    |proj g|=  3.46693D+03

At iterate   50    f=  3.99515D+02    |proj g|=  1.99286D+01

At iterate  100    f=  3.97086D+02    |proj g|=  1.28977D+00

At iterate  150    f=  3.96895D+02    |proj g|=  3.70032D+01

At iterate  200    f=  3.96582D+02    |proj g|=  1.01524D+01

           * * *

Tit   = total number of iterations
Tnf   = total number of function evaluations
Tnint = total number of segments explored during Cauchy searches
Skip  = number of BFGS updates skipped
Nact  = number of active bounds at final generalized Cauchy point
Projg = norm of the final projected gradient
F     = final function value

           * * *

   N    Tit     Tnf  Tnint  Skip  Nact     Projg        F

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
 This problem is unconstrained.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s finished

LogisticRegression(max_iter=1000, verbose=1)

   10    223    255      1     0     0   3.033D-01   3.966D+02
  F =   396.57749078320518

CONVERGENCE: REL_REDUCTION_OF_F_<=_FACTR*EPSMCH

In [235]:
test

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,3,0,34.50000,0,0,7.8292,0,1,0
1,3,1,47.00000,1,0,7.0000,0,0,1
2,2,0,62.00000,0,0,9.6875,0,1,0
3,3,0,27.00000,0,0,8.6625,0,0,1
4,3,1,22.00000,1,1,12.2875,0,0,1
...,...,...,...,...,...,...,...,...,...
413,3,0,30.27259,0,0,8.0500,0,0,1
414,1,1,39.00000,0,0,108.9000,1,0,0
415,3,0,38.50000,0,0,7.2500,0,0,1
416,3,0,30.27259,0,0,8.0500,0,0,1
417,3,0,30.27259,1,1,22.3583,1,0,0

In [236]:
data_pred = test[data]

In [237]:
output = model.predict(data_pred)

In [238]:
joined_data = list(zip(test_with_ID.PassengerId, output))

In [239]:
create_new_dataframe = pd.DataFrame(joined_data, columns = ["PassengerId", "Survived"])

In [240]:
create_new_dataframe.to_csv("ml_predictions_of_survival.csv", index=False)